# Database configuration
DB_USERNAME=<your_database_username>
DB_PASSWORD=<your_database_password>
DB_NAME=<your_database_name>
DB_HOST=<your_database_host>
DB_DIALECT=postgres <-- Change this to your database dialect (e.g., mysql, sqlite, etc.)
PORT=<your_server_port>

# Super admin credentials for seeding
SUPER_ADMIN_EMAIL=<super_admin_email>
SUPER_ADMIN_PASSWORD=<super_admin_password>

# JWT Secret Key
ACCESS_TOKEN_SECRET=<your_jwt_access_secret_key>
ACCESS_TOKEN_EXPIRES_IN=<jwt_expiration_time_in_seconds>
